page-manager-home {
    .options{
        background: rgb(218, 201, 201);
        border-radius: 30px !important;
        border: 1px solid #ffffff;
    }

    .basic{
        background-color:  #ff3333;
    }

    .heading{
        width : 100%;
        justify-content: center;
    }


}
